.jeweler-top{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.container{
  display:flex;
  align-items: center;
  flex-direction: column;
}
.jname{
  font-size: 22px;
  color:grey;
}
.description{
  font-size: 12px;
  color:grey;
}

.price{
  font-size: 15px;
  color:grey;
}

.btn{
  margin-top: 20px;
  border:1px grey;
  color:white;
 
  font-size: 15px;
  background-color: black;
  margin-bottom: 20px;
 width:150px;
 height:30px;
 
}


.remove{
  margin-top: 20px;
  border:1px grey;
  color:white;
  padding:10px;
  font-size: 15px;
  background-color: grey;
  margin-bottom: 20px;
}
.remove:hover{
  cursor:pointer;
}

.btn:hover{
  cursor:pointer;
}

.button-position{
  display:flex;
  flex-direction: row;
}

.btn-next{
  border:none;
  background-color: white;
}

.btn-next:hover{
  cursor:pointer;
}